 body 
 {
    font-family: Arial, sans-serif;
    height: 100%;
    padding: 0px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-image: url('media/herow.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.login-container
{
    border: 1px solid #ccc;
    margin: 50px;
    width: fit-content;
    
    border-radius: 15px;
    box-sizing: border-box;
    /* max-width: 350px; */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
        #login 
        {
            text-align: center;
            color: #333;
        }
        #newuser 
        {
            display: block;
            text-align: center;
            margin-top: 15px;
        }
        form {
            max-width: 300px;
            margin: auto;
        }
        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            cursor: pointer;
            width: 100%;
        }
        button:hover {
            opacity: 0.8;
        }
