body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('media/herow.png');
    background-size:cover;
    background-repeat: no-repeat;
}
.singup{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    padding: 20px;
    border-radius: 15px;
    width: 350px;
}
input{
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid;
    border-radius: 3px;
}
button{
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
